@using Microsoft.AspNet.Identity;
@using System.Security.Claims;
@using Scozzard.Service;

@{
    var claimsUser = (ClaimsPrincipal)User;
}

<div style="width:100%">
    <div style="background-color:#107C10; border: 2px solid #155715; width:100%; height:100px">
        <img src="@claimsUser.Claims.First(x => x.Type == "ProfileImageUrl").Value" style="border: 2px solid #FFFFFF; margin-top: 50px; margin-left:10px" />
    </div>
    <div style="width:100%; padding: 30px 10px 20px 10px;background-color:#FFFFFF">
        <div>
            <div class="row">
                <div class="col-xs-5"><strong>Gamertag</strong></div>
                <div class="col-xs-7">@claimsUser.Claims.First(x => x.Type == "GamerTag").Value</div>
            </div>
            <div class="row">
                <div class="col-xs-5"><strong>Gamerscore</strong></div>
                <div class="col-xs-7">@claimsUser.Claims.First(x => x.Type == "Gamerscore").Value</div>
            </div>
            <div class="row">
                <div class="col-xs-5"><strong>Tenure</strong></div>
                <div class="col-xs-7">@claimsUser.Claims.First(x => x.Type == "TenureLevel").Value years</div>
            </div>
            <div class="row">
                <div class="col-xs-5"><strong>Account</strong></div>
                <div class="col-xs-7">@claimsUser.Claims.First(x => x.Type == "AccountTier").Value</div>
            </div>
            <div class="row">
                <div class="col-xs-5"><strong>Reputation</strong></div>
                <div class="col-xs-7"><img src="images/@(claimsUser.Claims.First(x => x.Type == "XboxOneRep").Value).png" /></div>
            </div>
        </div>
    </div>
</div>
